@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}
body{
  background-color: #404348;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(239, 209, 133);
  text-wrap: nowrap;
}
header .left,
header .right,
header .middle {
  border-radius: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

}
header .left {
  flex: 1;
}
header .middle {
  flex: 2;
  font-size: 3rem;

}
header .right {
  flex: 1;
}
.left img {
  width: 70px;
  height: 70px;
  opacity: 0.9;
}
h1 {
  font-size: 4.4rem;
  color: #404348;
  box-shadow:;
}
h1::first-letter {
  font-size: 6rem;
  /* font weight çalışmadı bold çalışmadı */
}
.fab {
  text-decoration: none;
  color: #404348;
  font-size: 1.5rem;
}
.fab:hover{
  color: red;
  transform: scale(1.2);
}
nav.sticky{
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #404348;
  flex-wrap: wrap;
  padding: 2rem;
}
nav.sticky a {
  color: beige;
  font-size: 2rem;
  text-decoration: none;
}
nav.sticky a:hover{
  color: red;
  transform: scale(1.2);
}
.banner{
  height:65vh;
  overflow: hidden;
}
.banner img{
  position: relative;
  width: 100%;
  top:-100px;
  opacity: 0.8; 
  /* background-attachment: fixed; */ 
}
.info li{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #404348;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1.3rem;
}
* ul{
  border: 3px solid beige;
  background-color: beige;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.7;
  border-radius: 5%;
  padding: 1%;
}