* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 30px;
  }
  
  .container {
    border: 6px outset red;
    border-radius: 40px;
    height: 600px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(7, 4rem);
    gap: 15px;
    justify-content: center;
    align-content: center;
    background-color: black;
  }
  
  .button {
    /* border: 2px solid blue; */
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .button1 {
    grid-area: 1/1/3/5;
    border-radius: 0%;
    cursor:auto;
  }
  
  .button18 {
    grid-area: 7/1/8/3;
    border-radius: 50px;
    padding-right: 70px;
  }
  
  .button3 {
    line-height: 0.5rem;
  }
  
  .button-op {
    background-color: #e8a244;
    color: white;
  }
  .button-op:hover {
    background-color: #765221;
    color: rgba(255, 255, 255, 0.603);
  }
  
  .button-top {
    background-color: #a6a6a6;
  }
  
  .button-top:hover {
    background-color: #555555;
  }
  
  .button-j {
    background-color: #363636;
    color: white;
  }
  .button-j:hover {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.603);
  }