*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container{
    /* border: 2px solid red; */
    width: 80%; 
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
}

.redText{
    color: red;
}